/* Add your own CSS rules here */
#description {
  margin: 0 0 1em 0;
}

tei-teiHeader {
  display: none;
}

tei-seg[type='important'] {
  color: blue;
}

tei-seg[type='error'] {
font-weight: bold;
color: red;
}

tei-seg[type='number'] {
color: yellow;
}

tei-seg[type='headline'] {
font-size: 20;
}
